* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 110vh;
}
.borda {
    width: 41%;
    border: 1px solid #DDDDDD;
}

tr {
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #DDDDDD;
    color: #999999;
    
}
th {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 5px;
  
  color: #999999;
}
.corpo {
    width: 100%;
    
}
td {
    font-size: 14px;
    width: 150px;
    padding: 5px;
    height: 5px;
}
td:nth-child(2) {
    text-align: left;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    padding-right: 90px;
    
}


#tabela {
 
   border-collapse: collapse; /*para definir borda de celular presentes na tabela*/
    
}



.azulescuro {
    font-size: 18px;
    font-weight: bold;
    color: #003366;
    padding: 5px;

}
.azulclaro {
    font-size: 18px;
    font-weight: bold;
    color: #1398BE;
    padding: 5px;
}
.laranja {
    font-size: 18px;
    font-weight: bold;
    color: #DE9800;
    padding: 5px;
}
.cinza {
    font-size: 18px;
    font-weight: bold;
    color: #CCCCCC;
    padding: 5px;
}
.vermelho {
    font-size: 18px;
    font-weight: bold;
    color: #C91B04;
    padding: 5px;
}

.linha4 {
    border-bottom: 2px solid #CCCCCC;
}
.linha16 {
    border-bottom: 2px solid #CCCCCC;
}
 
.ptime {
    font-size: 14px;
    color: black;
    font-weight: bold;
    background-color: #F7F7F7;
}
.ponto {
    font-size: 14px;
    color: #666666;
    
    
}
.bponto {
    font-size: 14px;
    color: #666666;
    background-color: #F7F7F7;
}

footer {
    margin: 7px;
    margin-left: 10px;
    font-size: 10px;
    color: #8f8f8f;
    display: flex;
    flex-wrap: wrap;
  }
  
  footer div {
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .quadradoazul {
    width: 10px;
    height: 10px;
    background-color: #003366;
  }
  
  .quadradoazulclaro {
    width: 10px;
    height: 10px;
    background-color: #1398be;
  }
  
  .quadradoamarelo {
    width: 10px;
    height: 10px;
    background-color: #de9800;
  }
  
  .quadradovermelho {
    width: 10px;
    height: 10px;
    background-color: #c91b04;
  }
  
  .legendas {
    margin-left: 5px;
    font-size: 10px;
    color: #555555;
  }